@media (max-width: 900px) {
  body {
    background: #FFF;
    font-family: 'Arimo', sans-serif;
    font-weight: 400;
    font-size: 12px;
    color: #222;
  }

  body p {
    font-size: 40px;
  }

  footer p {
    font-size: .7em;
  }
}
