@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed);
@import url(https://fonts.googleapis.com/css?family=Ubuntu&subset=latin,greek-ext);

body {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
}

h1 {
 text-align: center;
 font-size: 2.5em;
}

h1 a,
h1 a:visited {
  color: #222;
  text-decoration: none;
}

h1 a:hover {
  color: #4E5A65;
}

nav ul li {
  display: inline;
  padding: .5em;
}

nav ul {
  text-align: center;
  margin-right: 2.5em;
  margin-bottom: 2em;
}

nav ul li a,
nav ul li a:visited,
ul li a,
ul li a:visited {
  color: #222;
  text-decoration: none;
}

nav ul li a:hover,
ul li a:hover {
  color: #4E5A65;
}

/*index page*/

.textContainer {
  text-align: center;
  margin-top: 10em;
}

.text {
  font-size: 3em;
}

/* footer */

footer p {
  position: fixed;
  bottom: 0em;
  right: 0em;
  font-size: .75em;
}

/* mobile iPhone 5 */

@media (max-width: 324px) {

  nav ul {
    text-align: center;
    margin-right: 2em;
    margin-bottom: 2em;
  }

  .textContainer {
    text-align: center;
    margin-top: 7em;
  }

}

/*sneaker page*/

.story {
  width: 60em;
  margin: auto;
  position: relative;
}

h2 {
  font-family: 'Roboto Condensed', sans-serif;
  text-align: center;
  font-size: 36px;
}

h3 {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 18px;
  text-align: right;
}

p {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 24px;
}

#note {
  font-family: 'Roboto Condensed', sans-serif;
  font-style: italic;
  font-size: 12px;
}

img {
  display: none;
}

#mymap {
  height: 48em;
  width: 60em;
  margin: auto;
  border: solid #000;
  overflow: hidden;
  position: relative;
}

#lalakers {
  display: none;
  width: 250px;
  height: 250px;
  position: absolute;
  top: 25em;
  left: 1em;
  z-index: 1;
}

#miami {
  display: none;
  width: 250px;
  height: 250px;
  position: absolute;
  bottom: 5em;
  right: 3em;
  z-index: 1;
}

#lebron {
  display: none;
  width: 250px;
  height: 250px;
  position: absolute;
  bottom: 14em;
  right: 10em;
  z-index: 1;
}

#kyrie {
  display: none;
  width: 250px;
  height: 250px;
  position: absolute;
  bottom: 30em;
  right: 10em;
  z-index: 1;
}

#chicago {
  display: none;
  width: 250px;
  height: 250px;
  position: absolute;
  top: 8em;
  left: 28em;
  z-index: 1;
}

#golden {
  display: none;
  width: 250px;
  height: 250px;
  position: absolute;
  top: 8em;
  left: .5em;
  z-index: 1;
}

#laclippers {
  display: none;
  width: 250px;
  height: 250px;
  position: absolute;
  top: 18em;
  left: 1em;
  z-index: 1;
}

#nyc {
  display: none;
  width: 250px;
  height: 250px;
  position: absolute;
  top: 5em;
  right: 3em;
  z-index: 1;
}

#okc {
  display: none;
  width: 250px;
  height: 250px;
  position: absolute;
  top: 20em;
  left: 20em;
  z-index: 1;
}

#portland {
  display: none;
  width: 250px;
  height: 250px;
  position: absolute;
  top: 1em;
  left: 2em;
  z-index: 1;
}

#washington {
  display: none;
  width: 250px;
  height: 250px;
  position: absolute;
  top: 20em;
  right: 1em;
  z-index: 1;
}
